@model ContactModel

@{
	ViewBag.Title = "Contact Us";
}

<h1>@ViewBag.Title</h1>

<p>@ViewBag.Message</p>

@using (Html.BeginForm()) {
	<fieldset>
		<legend>Contact Request</legend>

		<div>
			@Html.LabelFor(m => m.Name)
			@Html.EditorFor(m => m.Name)
			@Html.ValidationMessageFor(m => m.Name)
		</div>

		<div>
			@Html.LabelFor(m => m.Email)
			@Html.EditorFor(m => m.Email)
			@Html.ValidationMessageFor(m => m.Email)
		</div>

		<div>
			@Html.LabelFor(m => m.Question)
			@Html.EditorFor(m => m.Question)
			@Html.ValidationMessageFor(m => m.Question)
		</div>

		<div>
			<input type="submit" value="Submit" />
		</div>
	</fieldset>
}

@section Scripts {
	@await Html.PartialAsync("_ValidationScriptsPartial")
	<script>
		var currentMenu = 'contact';
	</script>
}
